body {
    background-color: lightblue;
}

p { 
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1.ziyu h2.ziyu { 
 color: #405378;
}
